
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#!/">Angular JS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li ng-click="cambiarActivo(ruta)" ng-repeat="ruta in rutas" class="nav-item" ng-class="(ruta.active)?'active':''">
              <a class="nav-link" ng-href="{{ruta.url}}">{{ruta.nombre}}</a>
          </li>
        </ul>
    </div>
  </nav>
