div.container{
   margin-bottom: 5em;
}

ol, ul{
  text-align: left;
}

table img{
  width: 100px;
  height: auto;
}

table th.selected{
  color:#ff9800;
  font-weight: 800;
}

img.zoom{
  border: 1px solid;
  position: absolute;
  width: 100%;
}

